.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: 0 center;

  @media (min-width: 768px) {
    position: relative;
    padding-left: 72px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-items: center;
  }
}

.advantage__icon {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    position: absolute;
    top: 4px;
    left: 1px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 20px;
  }
}

.advantage__title {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 4px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.advantage__description {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
