.contacts {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: 768px) {
    width: 200px;
    padding: 0;
    border: none;
  }
}

.contacts__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: $base-primary;
  margin-bottom: 20px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.contacts__item {
  position: relative;
  padding-left: 19px;
}

.contacts__adress-icon {
  position: absolute;
  top: 2px;
  left: 0;
}

.contacts__phone-icon {
  position: absolute;
  top: 2px;
  left: 0;
}