.filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 24.5px;
  margin-bottom: 40px;
}

.filters__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: 100%;
}

.filters__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 22px;
}

.filters__range-wrapper {
  width: 280px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  position: relative;
}

.filters__dot {
  position: absolute;
  z-index: 3;
  width: 24px;
  height: 24px;
  border: 2px solid $base-primary;
  border-radius: 50%;
  background-color: $base-white;
}

.filters__range-stick-bot {
  position: absolute;
  top: 11px;
  left: 0;
  width: 280px;
  height: 2px;
  background-color: $light-grey;
}

.filters__range-stick {
  z-index: 2;
  width: 220px;
  height: 4px;
  position: absolute;
  top: 9px;
  left: 0;
  background-color: $base-primary;
}

.filters__range-right {
  left: 212px;
}

.filters__price-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filters__price-input-wrapper  {
  width: 118px;
  border-radius: 4px;
  border: 2px solid $base-primary;
  padding: 7px;
}

.filters__price-label {
  width: 100%;
  height: 100%;
}

.filters__price-input {
  width: 80px;
  border: none;
  background-color: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  &:focus {
    border: none;
    outline: none;
  }
}

#low-price {
  color: $base-grey;
}

.filters__stick {
  width: 9px;
  height: 2px;
  background-color: $base-grey;
}

.filters__milk {
  width: 100%;
}

.filters__milk-radio-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  justify-content: space-between;
}

.filters__radio-button {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid $base-grey;
  border-radius: 50%;
}

.filters__radio-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 24px;
}

.filters__radio-input {
  &:hover + .filters__radio-button {
    border: 2px solid $primary-lighter;

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 50%;
      border: 2px solid $base-white;
      background-color: $primary-opacity;
      z-index: 2;
    }
  }

  &:checked + .filters__radio-button {
    border: 2px solid $base-primary;
  
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 50%;
      border: 2px solid $base-white;
      background-color: $base-primary;
      z-index: 2;
    }
  }

  &:disabled + .filters__radio-button {
    border-color: $light-grey;
  }

  &:disabled:hover + .filters__radio-button {
    border-color: $light-grey;
    &::after {
      display: none;
    }
  }

  &:disabled ~ .filters__radio-legend {
    color: $base-grey;
  }
}

.filters__country {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 35.5px;
}

.filters__country-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.filters__checkbox-label {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.filters__checkbox-button {
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: $base-grey;
  position: relative;

  &::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: $base-white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
  }
}

.filters__country-checkbox:checked + .filters__checkbox-button {
  background-color: $base-primary;

  &::after {
    left: 20px;
  }
}

.filters__country-checkbox:disabled + .filters__checkbox-button {
  background-color: $light-grey;

  &::after {
    background-color: $lightest-grey;
  }
}

.filters__country-checkbox:disabled ~ .filters__checkbox-legend {
  color: $light-grey;
}

.filters__radio-legend, .filters__checkbox-legend {
  font-size: 16px;
  line-height: 24px;
}

.filters__button-apply {
  width: 160px;
  background-color: $base-primary;
  color: $base-white;
  border-radius: 4px;
  font-size: 13px;
  line-height: 24px;
  padding: 10.6px 14.5px;
}

.filters__button-refresh {
  width: 160px;
  background-color: $base-white;
  color: $base-primary;
  border-radius: 4px;
  font-size: 13px;
  line-height: 24px;
  padding: 10.6px 14.5px;
}
