.filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 24.5px;
}

.filters__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: 100%;
}

.filters__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 22px;
}

.filters__range-wrapper {
  width: 280px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  position: relative;
}

.filters__dot {
  position: absolute;
  z-index: 3;
  width: 24px;
  height: 24px;
  border: 2px solid $base-primary;
  border-radius: 50%;
  background-color: $base-white;
}

.filters__range-stick-bot {
  position: absolute;
  top: 11px;
  left: 0;
  width: 280px;
  height: 2px;
  background-color: $light-grey;
}

.filters__range-stick {
  z-index: 2;
  width: 220px;
  height: 4px;
  position: absolute;
  top: 9px;
  left: 0;
  background-color: $base-primary;
}

.filters__range-right {
  left: 212px;
}

.filters__price-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filters__price-input-wrapper  {
  width: 118px;
  border-radius: 4px;
  border: 2px solid $base-primary;
  padding: 7px;
}

.filters__price-label {
  width: 100%;
  height: 100%;
}

.filters__price-input {
  width: 80px;
  border: none;
  background-color: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

#low-price {
  color: $base-grey;
}

.filters__stick {
  width: 9px;
  height: 2px;
  background-color: $base-grey;
}

.filters__milk {
  width: 100%;
}

.filters__milk-radio-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  justify-content: space-between;
}