.header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.header__main-title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 162px;
    width: 126px;
  }
}

.header__logo-link {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.header__logo-icon {
  &--mobile {
    display: block;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
