.pagination {
  width: 280px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: 768px) {
    width: 100%;
    justify-content: flex-end;
  }
}

.pagination__button {
  width: 40px;
  height: 40px;
  background-color: $base-white;
  border-radius: 4px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  color: $base-primary;

  @media (min-width: 768px) {
    &:first-child, &:nth-last-child(2) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:nth-child(2), &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    
    &:first-child {
      padding: 8px 47px;
      width: 140px;
      &::after {
        content: 'Назад';
        font-size: 14px;
        line-height: 24px;
        color: #7859CF;
      }
    }

    &:last-child {
      padding: 8px 47px;
      width: 140px;
      &::after {
        content: 'Вперед';
        font-size: 14px;
        line-height: 24px;
        color: #7859CF;
      }
    }

  }

  &:hover {
    background-color: $primary-lighter;
    color: $base-white;

    & > svg path {
      fill: $base-white;
    }
  }

  &:focus {
    background-color: $primary-lighter;
    color: $base-white;

    & > svg path {
      fill: $base-white;
    }
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;

    & > svg path {
      fill: $base-white;
    }
  }

  &:disabled {
    background-color: $base-grey;
    color: $base-white;

    & > svg path {
      fill: $base-white;
    }
  }
}

.pagination__button--selected {
  background-color: $lightest-grey;
  color: $base-black;

  &:hover {
    background-color: $lightest-grey;
    color: $base-black;
  }

  &:active {
    background-color: $lightest-grey;
    color: $base-black;
  }

  &:focus {
    background-color: $lightest-grey;
    color: $base-black;
  }
}

.pagination__icon {
  @media (min-width: 768px) {
    display: none;
  }
}