.pagination {
  width: 280px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
}

.pagination__button {
  width: 40px;
  height: 40px;
  background-color: $base-white;
  border-radius: 4px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  color: $base-primary;

  &:hover {
    background-color: $primary-lighter;
    color: $base-white;

    & > svg path {
      fill: $base-white;
    }
  }

  &:focus {
    background-color: $primary-lighter;
    color: $base-white;

    & > svg path {
      fill: $base-white;
    }
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;

    & > svg path {
      fill: $base-white;
    }
  }

  &:disabled {
    background-color: $base-grey;
    color: $base-white;

    & > svg path {
      fill: $base-white;
    }
  }
}

.pagination__button--selected {
  background-color: $lightest-grey;
  color: $base-black;

  &:hover {
    background-color: $lightest-grey;
    color: $base-black;
  }

  &:active {
    background-color: $lightest-grey;
    color: $base-black;
  }

  &:focus {
    background-color: $lightest-grey;
    color: $base-black;
  }
}