.product-catalog {
  width: 100%;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-bottom: 70px;
  }
}

.product-catalog__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.product-catalog__item {
  width: 280px;
  background-color: $base-white;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}