.slider-item {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 60px 80px;
    padding-bottom: 0;

    & > picture {
      order: 5;
      z-index: 2;
    }

    &::before {
      content: '';
      width: 100%;
      height: 188px;
      bottom: 0;
      position: absolute;
      background-color: $base-white;
      z-index: 1;
    }
  }
}

.slider-item__picture {
  display:inline-flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.slider-item__title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

.slider-item__description {
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }
}

.slider-item__price-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

}

.slider-item__prev-price {
  color: $base-primary;
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
}

.slider-item__current-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-left: 6px;
}

.slider-item__button {
  background-color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  color: $base-white;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  margin-left: 20px;

  &:hover {
    background-color: $primary-lighter;
  }

  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}

.slider-item--flat-white {
  background-color: $flat-white;
}

.slider-item--lavender {
  background-color: $lavender-latte;
}

.slider-item--espresso {
  background-color: $espresso;
}