.slider {
  width: 100%;
  position: relative;
}

.slider__list {
  width: 100%;
}

.slider__item {
  width: 100%;
}

.slider__button {
  position: absolute;
  height: 100%;
  width: 20px;
  background-color: inherit;

  @media (min-width: 768px) {
    width: 80px;
  }
}

.swiper {
  position: relative;
}

.swiper-button-prev {
  top: 22px;
  left: 0;

  &::after {
    display: none;
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.swiper-button-next {
  top: 22px;
  right: 0;

  &::after {
    display: none;
  }

  &:active {
    background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.swiper-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 70px;
}

.swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  border-radius: 0;
  background-color: $base-white;
  margin: 0;
  opacity: 1;

  &-active {
    background-color: $base-primary;
  }
}
