.sort {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-bottom: 30px;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
  }
}

.sort__select-wrapper {
  position: relative;
  background-color: inherit;
  width: 165px;
  padding: 4px 30px 4px 10px;
  border-radius: 4px;

  &:hover {
    background-color: $base-secondary;
  }

  &:focus {
    background-color: $base-secondary;
  }
}

.sort__select-arrow {
  position: absolute;
  top: 11px;
  left: 145px;
}

.sort__select {
  background-color: inherit;
  color: $base-primary;
  width: 145px;
  /* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;

  &:focus ~ .sort__select-arrow {
    transform: rotate(180deg);
  }

  &:focus {
    outline: none;
    border: none;

  }

  &:active {
    outline: none;
    border: none;
  }
}

.sort__description, .sort__select {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}