.user-nav {
  width: 180px;
  height: 100%;

  @media (min-width: $desktop-width) {
    width: max-content;
    height: 80px;
  }
}

.user-nav__list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;

  @media (min-width: $desktop-width) {
    gap: 20px;
    justify-content: space-between;
    height: 100%;
  }
}

.user-nav__item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    width: 60px;
    height: 80px;
    &:last-child {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: max-content;
    height: 100%;
  }
}

.user-nav__button-description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
}

.user-nav__button {
  border: none;
  width: 60px;
  height: 60px;
  background-color: inherit;
  padding: 0;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
    padding: 32px 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.user-nav__burger-button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.user-nav__burger-button--close {
  background-image: url("../../img/icons/stack.svg#menu");
}

.user-nav__burger-button--open {
  background-image: url('../../img/icons/stack.svg#menu-close');
}