.user-nav {
  width: 180px;
}

.user-nav__list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

.user-nav__item {
  width: 60px;
}

.user-nav__button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.user-nav__burger-button {
  background-position: center 3px;
  background-repeat: no-repeat;
}

.user-nav__burger-button--close {
  background-image: url("../../img/icons/menu.svg");
}

.user-nav__burger-button--open {
  background-image: url('../../img/icons/menu-close.svg');
}